body{
    font-family: Arial, Helvetica, sans-serif;
    background: url(/gif/moonlit-solitude.gif);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}
.login-conteiner{
    text-align: center;
}
.login-box{
    background: #ffffff21;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,2)
}
h2{
    margin-bottom: 20px;
}
input[type="text"],input[type='text']{
width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px sold #ccc;
    border-radius: 10px;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #339c21;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1e6a11;
}

.forgot-password{
    display: block;
    margin-top: 10px;
    color: red;
    text-decoration:none;
}

.forgot-password:hover{
    text-decoration: underline;
}

.social-login{
    margin-top: 15px;
}

.facebook,
.twiter{
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.facebook{
    background-color: #3535cf;
}

.twiter{
    background-color: #42c8e8;
}
h3{
    text-align: left;
    margin-left: 0;
    width: 100%;
}
.names{
display: flex;
  gap: 10px;
  margin: 10px 0;
}
.phone{
display: flex;
  gap: 10px;
  margin: 10px 0;
}
.subject{


}
select {
    width: 100%;
    padding: 17px;
    border: 1px solid #ccc;
    border-radius: -34px;
    margin-bottom: 6px;
    font-size: 16px;
    box-sizing: border-box;
}
